@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(245, 242, 242);
    
}
.navbar-inner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-left{
    /* width: 30vw; */
    font-size: 21px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.navbar-left:hover{
    color: red;
}
.navbar-right{
    /* width: 65vw; */
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}
.navbar-right>a{
    margin: 0 20px;
}
.navbar-rightright{
    text-decoration: none;
    color: rgb(83, 83, 83);
}
.navbar-rightright:hover{
    color: red;
}
.main{
    margin-left: 6.25rem;
    margin-right: 6.25rem;
}
.info{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    width: 93%;
    margin: auto;
}
.vishal-info{
    font-size: 19px;
    padding-right: 2rem;

}
.vishal-pic{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vishal-pic img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.educ{
    text-decoration: none;
    color: red;
}
.container{
    margin-left: 8rem;
    margin-right: 6.25rem;
    margin-bottom: 0.7rem;
    padding: 15px;
    color: rgb(83, 83, 83);
    font-family: 'Open Sans', sans-serif;
}
.row1{
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.row2{
    display: flex;
    margin-bottom: 0.5rem;
}
.column{              
    width: 50vw;
    text-decoration: none;
}
.row{
    text-decoration: none;
    color: rgb(32, 46, 240);
}
.row:hover{
    color: red;
}